.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212,#234424 );
}

.title {
    font-size: 85px;
    color: #ffff;
    animation: flipSearch 2s;
}

@keyframes flipSearch {
    from{
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: #b4bcbc;
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px #a5dfc9;
}

.containerInput input  {
    background-color: transparent;
    width: 300px;
    font-size: 20px;
    border: 0;
    outline: none;
    color: #ffff;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #ffff;
}


.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0px;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
}


@media (max-width:620px) {
    .title{
        font-size: 60px;
    }

    .main h2{
        font-size: 28px;
    }

    .main{
        width: 80%;
        min-height: 250px;
    }
}